@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";


.jobpost{
    border: 2px solid $dark-gray;
    border-radius: 6px;
    margin: 1rem 0;
    height: 5.5rem;
    width: 100%;
    background-color: rgb(244, 243, 243);

  &__header{
    padding-left: 0.4rem;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.25rem;
  }

  &__type{
    font-size: 0.75rem;
    font-weight: 400;
    padding-left: 1.5em;

  }

  &__info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: -0.5rem;

  }

  &__button{
    border: 1px solid $gray;
    // border-color: rgb(244, 243, 243);
    border-radius: 10px;
    background-color: $yellow;

    &:hover{
      cursor: pointer;
      background-color: $gray;
      transition: 0.5s ease;
    }
  }

}