@import "../../../styles/partials/globals";
@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variables";
@import "../../../styles/partials/typography.scss";

.jobdetails {
	margin: 1rem;
	color: $dark-gray;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;

	&__header {
		font-size: 1.3rem;
		width: 100%;
		text-align: center;
		border-bottom: 2px solid #DBDBDB;;
	}

	&__address {
		text-align: center;
		line-height: .9144rem;
		border-bottom: 2px solid #DBDBDB;

	}

	&__address-header {
		font-size: .625rem;
		font-weight: 600;
	}

	&__address-info{
		font-size: 0.75rem;
	}

	&__info {
		display: flex;
		flex-direction: row;
	}

	&__info-date{
		border-right: 2px solid #DBDBDB;
		width: 50%;
		text-align: center;


	}
	&__info-date-header{
		font-size: .625rem;
		font-weight: 600;
	}

	&__info-date-info{
		font-size: 0.75rem;
	}

	&__info-type{
		width: 50%;
		padding-left: 1rem; 
		text-align: center;


	}

	&__info-type-header{
		font-size: .625rem;
		font-weight: 600;
	}

	&__info-type-info{
		font-size: 0.75rem;
		font-weight: 400;
	}

	&__student{
		text-align: center;
		line-height: 0.5rem;
		font-size: 0.75rem;
		border-bottom: 2px solid #DBDBDB;
		border-top: 2px solid #DBDBDB;


	}

	&__student-header{
		font-size: .625rem;
		font-weight: 600;
	}

.jobdetails-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;

	&__accept{
		width: 15.7981rem;
		height: 1.8125rem;
		background: $yellow;
		border-radius: 10px;
		margin-bottom: 1rem;
		border: none;
	}

	&__goback{
		width: 15.7981rem;
		height: 1.8125rem;
		background: #C7C7C7;
		border-radius: 10px;
		border: none;

	}
}



}
