@import "../../../styles/partials/globals";
@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variables";
@import "../../../styles/partials/typography.scss";

.jobdetail{
	margin: 1rem;
	color: $dark-gray;
	display: flex;
	flex-direction: column;
  // z-index: 1;
}

.school{
  font-size: 1rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #DBDBDB;;
}

.jobdetail-address{
  text-align: center;
  line-height: .9144rem;
  border-bottom: 2px solid #DBDBDB;

  &__title{
    font-size: .625rem;
		font-weight: 600;
  }

  &__info{
    font-size: 0.75rem;

  }
}

.details{
  display: flex;
  flex-direction: row;
}

.details-date{
  border-right: 2px solid #DBDBDB;
  width: 50%;
  text-align: center;

  &__header{
		font-size: .625rem;
		font-weight: 600;
  }

  &__info{
		font-size: 0.75rem;

  }
}

.details-type{
  width: 50%;
  padding-left: 1rem;
  text-align: center;


  &__header{
		font-size: .625rem;
		font-weight: 600;
  }

  &__info{
    font-size: 0.75rem;
		font-weight: 400;
  }
}

.studentInfo{
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.75rem;
  border-bottom: 2px solid #DBDBDB;
  border-top: 2px solid #DBDBDB;

  &__header{
		font-size: .625rem;
		font-weight: 600;
  }

}

.jobButtons{
  display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;

  &__completed{
		width: 15.7981rem;
		height: 1.8125rem;
		background: #BBEA9F;    ;
		border-radius: 10px;
		margin-bottom: 1rem;
		border: none;
  }

  &__remove{
		width: 15.7981rem;
		height: 1.8125rem;
		background: #F58585;
		border-radius: 10px;
		border: none;
  }

}
