@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.loginIcon-container {
  width: 100%;
}
.loginIcon {
//   width: 100%;
  padding-left: 2rem;
  margin: 0;
}

.login-page{
	width: 100%;
}
.login-header {
  text-align: center;
  color: $dark-gray;
  margin: -4rem;
}

.loginpage {
  margin-top: 4rem;

&__email {
   border-radius: 10px;
   height: 2rem;
   width: 85%;
   margin: 1rem;
   border: 2px solid $yellow;
}

  &__password {
   border-radius: 10px;
   height: 2rem;
   width: 85%;
   margin: 1rem;
   border: 2px solid $yellow;
  }
}

.login__buttons-submit {
  width: 75%;
  margin-top: 0.75rem;
  margin-left: 2.5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  border: 2px solid $yellow;
  color: $dark-gray;
  background-color: $yellow;
}
