@import "../../../styles/partials/globals";
@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variables";
@import "../../../styles/partials/typography.scss";


.therapisthome{
  background-color: $yellow;
  padding-bottom: 1rem;
}

.therapisthome__header{
  margin: 0 1rem;
  padding-top: 1rem;
  color: $dark-gray;
}

.therapisthome__post{
  margin: 0 1rem;
  
}