@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.homepage{
  margin: 0 auto;
  width: 100%;
  background-color: rgb(250, 239, 165);
  padding-bottom: 4rem;

  &__header{
    padding-top: 8rem;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: $dark-gray;
    font-family: 'Montserrat';
  }

  &__logo{
    height: 20rem;
    margin: 0 auto;  
    padding-top: 4rem;
  
  }

  &__slogan{
    text-align: center;
    font-size: 1.3rem;
    color: $dark-gray;  
    font-weight: 300;
    margin: 2rem;
    margin-top: -6rem;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    }

    &__buttons-login{
      width: 90%;
      height: 2.5rem;
      border-radius: 10px;
      border: 2px solid $yellow;
      color: $dark-gray;
      background-color: white;
    }

    &__buttons-signup{
      width: 90%;
      margin-top: 0.75rem;
      height: 2.5rem;
      border-radius: 10px;
      border: none;
      border: 2px solid $yellow;
      color: $dark-gray;
      background-color: white;

    }
}

