@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  height: 3rem; 

  &__header{
    padding-left: 1rem; 
    color: $dark-gray;
  }

  &__button{
    color: $yellow;
  }
}